{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero page-inner bg-secondary">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Ministries</h1>
                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item "><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active text-white-50" aria-current="page">Ministries</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row g-5">
            {% for post in posts %}
            <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                <div class="sermon-entry">
                    <a href="#"><img src="{{ post.image.url }}" alt="Image" class="img-fluid"></a>
                    <div class="sermon-body bg-white">
                        <h3 class="mb-2"><a href="#">{{ post.title }}</a></h3>
                        <p class="mb-3">{{ post.des }}</p>
                        <p><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="section bg-secondary">
    <div class="container">
        {% for w in what %}
        <div class="row mb-5 justify-content-between align-items-center">
            <div class="col-lg-5" data-aos="fade-up">
                <span class="subheading d-block mb-4 ">Why Us</span>
                <h2 class="heading text-white">{{ w.title }}</h2>
            </div>
            <div class="col-lg-5 align-self-end text-white" data-aos="fade-up" data-aos-delay="100">
                <p>{{ w.des }}</p>
            </div>
        </div>
        <div class="row align-items-center g-5">
            <div class="col-lg-6" data-aos="fade-up">
                <a href="https://www.youtube.com/watch?v=mwtbEGNABWU" class="video-bg glightbox">
                    <span class="icon"><span class="icon-play"></span></span>
                    <img src="{{ w.image.url }}" alt="Image" class="img-fluid rounded">
                </a>
            </div>
            <div class="col-lg-5 ms-auto" data-aos="fade-up" data-aos-delay="100">
                <div class="row g-4">
                    {% for obj in tags %}
                    <div class="col-lg-6 feature-1">
                        <h3 class="text-white">{{ obj.title }}</h3>
                        <p class="opac-white-5">{{ obj.description }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <a href="#" class="btn btn-primary">Send us your prayer request</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}