{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero page-inner bg-secondary">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">Living and Sharing The Gospel</h1>
                <p class="text-white-50 mb-5" data-aos="fade-up" data-aos-delay="100">15 Jan 2020 • By Pastor
                    Campbell</p>
                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item "><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item "><a href="sermons.html">Sermons</a></li>
                        <li class="breadcrumb-item active text-white-50" aria-current="page">Living and Sharing The
                            Gospel
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7" data-aos="fade-up">
                <img src="{{ details.image.url }}" alt="Image" class="img-fluid">
                </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <p>{{ details.description }}</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row mb-4 text-center">
            <div class="col-lg-12" data-aos="fade-up">
                <span class="subheading d-block mb-4">More Sermons</span>
                <h2 class="mb-4 heading">Related Sermons</h2>
            </div>
        </div>
        <div class="row g-5">
            {% for s in sermons %}
            <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                <div class="sermon-entry">
                    <a href="{% url 'detail' s.id %}"><img src="{{ s.image.url }}" alt="Image"
                                                      class="img-fluid mb-3 rounded"></a>
                    <div class="sermon-body">
                        <span class="date">{{ s.created_at }}<span class="mx-2">&bullet;</span> By Pastor Campbell </span>
                        <h3 class="mb-2"><a href="#">{{ s.title }}</a></h3>
                        <p class="mb-5">{{ s.description|slice:":50" }}</p>
                        <p><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="section bg-secondary">
    <div class="container">
        {% for obj in abouts %}
        <div class="row mb-5 justify-content-between align-items-center">
            <div class="col-lg-5" data-aos="fade-up">
                <span class="subheading d-block mb-4 ">Why Us</span>
                <h2 class="heading text-white">{{ obj.title }}</h2>
            </div>
            <div class="col-lg-5 align-self-end text-white" data-aos="fade-up" data-aos-delay="100">
                <p>{{ obj.description }}</p>
            </div>
        </div>
        <div class="row align-items-center g-5">
            <div class="col-lg-6" data-aos="fade-up">
                <a href="https://www.youtube.com/watch?v=mwtbEGNABWU" class="video-bg glightbox">
                    <span class="icon"><span class="icon-play"></span></span>
                    <img src="{{ obj.image.url }}" alt="Image" class="img-fluid rounded">
                </a>
            </div>
            <div class="col-lg-5 ms-auto" data-aos="fade-up" data-aos-delay="100">
                <div class="row g-4">
                    {% for obj in tags %}
                    <div class="col-lg-6 feature-1">
                        <h3 class="text-white">{{ obj.title }}</h3>
                        <p class="opac-white-5">{{ obj.description }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <a href="#" class="btn btn-primary">Send us your prayer request</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="section bg-white mx-2 mx-md-5 sec-services-wrap">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-7 mx-auto text-center" data-aos="fade-up">
                <span class="subheading mb-4 d-block">Our Services</span>
                <h2 class="mb-4 heading">Church Services</h2>
            </div>
        </div>
        <div class="row g-5">
            {% for ol in ours %}
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="0">
                <div class="service text-center">
                    <span class="flaticon-wheat mb-4 d-block"></span>
                    <h3 class="heading">{{ ol.title }}</h3>
                    <p>{{ ol.des }}</p>
                    <p><a href="#" class="more">+ Read more</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="section sec-cta bg-secondary">
    <div class="container">
        <div class="row align-items-center" data-aos="fade-up">
            <div class="col-lg-7 text-center text-md-start mb-4 mb-md-0">
                <h2 class="heading text-white">Join with us as we worship the Lord</h2>
            </div>
            <div class="col-lg-5 text-center text-md-end" data-aos="fade-up" data-aos-delay="100">
                <a href="#" class="btn btn-primary py-3 px-5">Join Us</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}